/* You can add global styles to this file, and also import other style files */
li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
  }

.header .profile-content .name {

    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.Roboto-Font{
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    background-color: #eee;
}

@media (max-width: 899px) { 
    .container {
        /* background-color: lightblue; */
        text-align: center;
    }
    .pull-left-custom {
        float: none !important;
        margin: 0em;  
        text-align: center;
    }
}

@media only screen and (min-width: 900px) {
    /* .container {
        background-color: rgb(15, 145, 189);
    } */
    .pull-left-custom{
        float: left;
        margin-right: 2em;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1300px) {
    .container {
      width: 1300px;
    }
  }

body{
    background-color: aliceblue;
    /* background-color: #DAE3E7; */
}

.list-inline{
    padding-left:0px;
    list-style:none;
}

/* section boxes for content sections */
.section > div{
    background-color:#eee;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* skill bar for skills display */
.skills-container {
    width: 100%;
    background-color: #ddd;
  }
.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: #4CAF50;
  }

.html {width: 90%; background-color: #4CAF50;}

.skill-rating-text{
    float: right;
    color: #808080;
}