/***********************
 *   Theme : Color Pallet: (#898D90, #D0D1D3, #040D14, #21CE99. #FFF)
 ***********************/

/***********************
 *   Media
 ***********************/

 .container-full {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

@media (max-width: 899px) { 
    .container {
        /* background-color: lightblue; */
        text-align: center;
    }
    .pull-left-custom {
        float: none !important;
        margin: 0em;  
        text-align: center;
    }
}

@media only screen and (min-width: 900px) {
    /* .container {
        background-color: rgb(15, 145, 189);
    } */
    .pull-left-custom{
        float: left;
        margin-right: 2em;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1300px) {
    .container {
        width: 1300px;
    }
}

/***********************
 *   Lists
 ***********************/
li {
    font-size: large;
}
.list-inline{
    padding-left:0px;
    list-style:none;
}

/***********************
 *   Section
 ***********************/
.section > div{
    background-color: #25272a;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/***********************
 *   Headers Para etc...
 ***********************/
p{
    color: #c5c8c6;
    font-size: 16px;
    text-align: left;
}

h1{
    color:#21CE99;
}

h2{
    color: #D0D1D3;
}

body{
    background-color: #25272a;
}

.itsgonnabehuge{
    font-size: 60px;
}

div.panel-heading {
    font-size: x-large;
 }
 
 .header .profile-content .name {
 
     font-size: 38px;
     margin-bottom: 5px;
     margin-top: 30px;
 }
 
 .Roboto-Font{
     font-family: 'Roboto', sans-serif;
 }
 
 .jumbotron{
     background-color: #25272a;
     color: #21CE99;
     margin-bottom: 15px;
     padding-bottom: 15px;
     padding-top: 80px;
 }

/***********************
 *        Skills
 ***********************/
.skills-container {
    width: 100%;
    background-color: #25272a;
  }
.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: #4CAF50;
  }

.html {width: 90%; background-color: #4CAF50;}

.skill-name{
    color: #808080;  
}
.skill-rating-text{
    float: right;
    color: #808080;
}