
.github-blue-fa-icon{
    font-size:48px;
    color:#4078c0;
}

.github-blue-fa-icon:hover{
    font-size:48px;
    color:#00c;
}

.twitter-blue-fa-icon{
    font-size:48px;
    color:rgb(0, 119, 181);
}

.twitter-blue-fa-icon:hover{
    font-size:48px;
    color:#00c;
}

.linkedin-blue-fa-icon{
    font-size:48px;
    color:rgb(29, 161, 242)
}

.linkedin-blue-fa-icon:hover{
    font-size:48px;
    color:#00c;
}

.social-fa-icon:hover{
    font-size:48px;
    color:#898D90;
}

.social-fa-icon{
    font-size:48px;
    /* color:rgb(29, 161, 242) */
    color: #21CE99;
}
